## Preprocessing

In [55]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import load_model

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [56]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN", "NAME"], inplace=True)

In [57]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [58]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [59]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T13','T12','T2','T25','T14','T29','T15','T17','T9']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [60]:
# Look at CLASSIFICATION value counts for binning
class_value_count = application_df['CLASSIFICATION'].value_counts()
class_value_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [61]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt1 = class_value_count[class_value_count > 1]
class_counts_gt1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [62]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_value_count[class_value_count <= 777].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [63]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [64]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(data=application_df, columns=['APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','SPECIAL_CONSIDERATIONS','INCOME_AMT'])
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,SPECIAL_CONSIDERATIONS_Y,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [65]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns=["IS_SUCCESSFUL"])


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [66]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [67]:
len(X_train_scaled[0])

43

In [68]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 80)                3520

 dense_10 (Dense)            (None, 30)                2430

 dense_11 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [69]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [70]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5714 - accuracy: 0.7192
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5550 - accuracy: 0.7289
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7296
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7300
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7318
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7319
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7315
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7320
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7308
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7342
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7335
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7324
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7346
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7332
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7358
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7348
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7339
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7340
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7342
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7351
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7355
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7360
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7358
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7366
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7357
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7368
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7351
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7360
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7361
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7374
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7387
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7367
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7376
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7378
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7373
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7367
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7381
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7393
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7372
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7366
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7377
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7391
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7388
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7375
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7379
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7385
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7377
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7381
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7394
Epoch 52/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5376 - accuracy: 0.7383
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5368 - accuracy: 0.7383
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7379
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7381
Epoch 56/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5371 - accuracy: 0.7388
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7389
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5368 - accuracy: 0.7374
Epoch 59/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5368 - accuracy: 0.7385
Epoch 60/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5368 - accuracy: 0.7376
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5367 - accuracy: 0.7388
Epoch 62/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5363 - accuracy: 0.7380
Epoch 63/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5363 - accuracy: 0.7396
Epoch 64/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5366 - accuracy: 0.7386
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5365 - accuracy: 0.7391
Epoch 66/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5357 - accuracy: 0.7386
Epoch 67/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5363 - accuracy: 0.7393
Epoch 68/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5360 - accuracy: 0.7389
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7395
Epoch 70/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7387
Epoch 71/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7391
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5357 - accuracy: 0.7388
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7398
Epoch 75/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5354 - accuracy: 0.7386
Epoch 76/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7384
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5350 - accuracy: 0.7396
Epoch 78/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7383
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 80/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 81/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5349 - accuracy: 0.7399
Epoch 82/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7388
Epoch 83/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5351 - accuracy: 0.7389
Epoch 84/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5345 - accuracy: 0.7405
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5350 - accuracy: 0.7381
Epoch 86/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 87/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5351 - accuracy: 0.7388
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5347 - accuracy: 0.7397
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5348 - accuracy: 0.7403
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7406
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 92/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5347 - accuracy: 0.7392
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5348 - accuracy: 0.7389
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7406
Epoch 95/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5346 - accuracy: 0.7397
Epoch 96/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5345 - accuracy: 0.7400
Epoch 97/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5347 - accuracy: 0.7399
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7388
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7393
Epoch 100/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5341 - accuracy: 0.7402

In [71]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5667 - accuracy: 0.7300 - 1s/epoch - 5ms/step
Loss: 0.5666541457176208, Accuracy: 0.7300291657447815

In [72]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")
nn = load_model("AlphabetSoupCharity.h5")